/* win2day */
.project136 {
  background-color: #DC0006;
  color: #FFFFFF;
}

/* INTERNAL */
.project135 {
  background-color: #FF1271;
  color: #FFFFFF;
}
/* Nousguide Components */
.project135 {
  background-color: #FF1271;
  color: #FFFFFF;
}

/* FuZo */
/*.project142 {
  background: url("assets/fuzofavicon_77x50.jpg");
  color: #000000;
}
.project195 {
  background: url("assets/fuzofavicon_77x50.jpg");
  color: #000000;
}*/
.project142alternative {
  background: url("assets/fuzofavicon_143x50.jpg");
  color: #000000;
}
.project195alternative {
  background: url("assets/fuzofavicon_143x50.jpg");
  color: #000000;
}

/* HEH */
.project170 {
  background-color: #F6F0DB;
  color: #000000;
}

/* ORF */
.project131 {
  background-color: #101D60;
  color: #FFFFFF;
  font-weight: bold;
}
.project139 {
  background-color: #101D60;
  color: #FFFFFF;
  font-weight: bold;
}
.project140 {
  background-color: #101D60;
  color: #FFFFFF;
  font-weight: bold;
}
.project179 {
  background-color: #101D60;
  color: #FFFFFF;
  font-weight: bold;
}
.project141 {
  background-color: #101D60;
  color: #FFFFFF;
  font-weight: bold;
}

/* Puls4 */
.project193 {
  background-color: #F0008C;
  color: #FFFFFF;
  font-weight: bold;
}
